
body{
    padding: 0;
    margin: 0;
    font-family: Montserrat,Philosopher,Roboto;
    
}
.section-bg-1{
    background-image: url(img/spile.jpg);
}


/*========================   Nav manu ==================*/

.section-bg-1 {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-color: #ddd;
  color: #fff;
}
.section-blue-overlay,.section-black-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 40%;
  content: "";
  background: #00a8e5;
  opacity: .7;
  z-index: -1;
}
.section-black-overlay {
  left: auto;
  right: 0;
  width: 60%;
  background: #000;
  opacity: .4;
}
.single-service-box {
  position: relative;
  padding-left: 35px;
  padding-bottom: 35px;
}
.single-service-box i.far {
  position: absolute;
  left: 0;
  top: 7px;
  font-size: 20px;
}
body {
  font-size: 15px;
  line-height: 1.8;
}
.section-padding.section-bg-1 {
  padding: 80px 0;
}
.section-tittle p {
  font-size: 16px;
  font-style: italic;
  opacity: .7;
}
.section-tittle h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}
.section-tittle {
  position: relative;
}
.section-tittle:after {
  position: absolute;
  left: 3px;
  top: 112%;
  height: 1px;
  width: 160px;
  content: "";
  background: #00a8e5;
}

.first {
  padding: 20px 35px;
}
.secound {
  padding: 5px 35px;
}
.section-tittle {
	margin-left: 35px;
}




