
body{
    padding: 0;
    margin: 0;
    font-family: Montserrat,Philosopher,Roboto;
    
}
/*.section-bg{
    background: url(img/spile.jpg);
}*/
.pricing-contert li i.fa {
	padding-right: 8px;
}

.section-padding {
  padding: 80px 0;
  background: #f7f7f7;
}
.section-tittle {
  text-align: center;
  margin-bottom: 50px;
}
.section-tittle h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
}
.section-tittle h2 span {
  color: blue;
}
.single-pricing-box {
  background: #fff;
  margin-top: 80px;
}
.section-bg .col-lg-4 {
  padding-left: 0;
  padding-right: 0;
}
.section-bg .row {
  margin-left: 0;
  margin-right: 0;
}
.pricing-tittle {
  background: #1fbcd3;
  color: #fff;
  position: relative;
  padding-left: 40px;
  padding-bottom: 20px;
  padding-top: 80px;
}
.pricing-ticker {
  background: #3a3d4f;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding-top: 20px;
  text-align: center;
  margin-top: -50px;
  position: absolute;
  top: 0;
}
.pricing-ticker span {
  color: #1fbcd3;
  font-size: 18px;
}
.pricing-tittle h2 {
  font-weight: 300;
  text-transform: uppercase;
  line-height: 43px;
}
.color-1 .pricing-tittle {
  background:  #1ca5ce;
}
.color-3 .pricing-tittle {
  background: #5ca1ce;
}
.pricing-contert ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.pricing-contert {
  border-left: 1px solid#ddd;
}
.pricing-contert li:nth-child(2n+2) {
  background: #f5f6f8;
}
.pricing-contert li {
  font-size: 15px;
  padding: 10px;
}
.pricing-contert li:before {
  margin-right: 9px;
}
.box-btn {
  border: 1px solid #1fbcd3;
  color: #1fbcd3;
  padding: 10px 20px;
  display: inline-block;
}
.pricing-btn {
  padding: 23px 25px;
  border-left: 1px solid#ddd;
  border-bottom: 1px solid#ddd;
  border-right: 1px solid#ddd;
}
.col-lg-4:nth-child(3).pricing-contert {
  border-right: 1px solid #ddd;
}
.pricing-contert.exta {
	border-right: 1px solid#ddd;
}
.section-tittle span {
	padding-right: 5px;
}
/*========================  f14a Nav manu ==================*/







